* {
  font-family: Roboto;
  margin: 0;
}

body {
  margin: 0;
}

.header-background,
.hero-background {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: auto;
  max-width: 1024px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  padding: 8px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 48px;
  max-width: 1024px;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background-color: #3882f6;
  padding: 8px 24px;
  margin-top: 16px;
  color: #f9faf8;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-top: 48px;
}

.random-information {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}

.item {
  max-width: 168px;
  margin-top: 48px;
}

.item p {
  margin-top: 8px;
}

.item-image {
  border: solid 4px #3882f6;
  border-radius: 16px;
  width: 168px;
  height: 168px;
}

.information-items {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}

.quote {
  background-color: #e5e7eb;
  padding: 96px;
}

blockquote {
  max-width: 800px;
  margin: auto;
}

blockquote p {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.cite {
  display: flex;
  justify-content: end;
}

.call-to-action {
  background-color: #3882f6;
  border-radius: 16px;
  width: 1024px;
  height: 160px;
  margin: auto;
  gap: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #e5e7eb;
}

.action-container {
  height: 350px;
  display: flex;
}

.call-to-action-button {
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  color: #e5e7eb;
  font-weight: 600;
  padding: 4px 16px;
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  text-align: center;
  color: #e5e7eb;
  padding: 24px;
}

